.title {
    color: blue;
    margin-bottom: 20px;
    font-size: 48px;

    @media (max-width: 768px) {
        font-size: 40px;
    }

    @media (max-width: 578px) {
        font-size: 30px;
    }
}